@use "sass:map";

/* ===== Variables Map ===== */
/* Typography */
$font-size-map: (
  48: 48px,
  46: 46px,
  42: 42px,
  36: 36px,
  30: 30px,
  28: 28px,
  24: 24px,
  22: 22px,
  21: 21px,
  20: 20px,
  18: 18px,
  17: 17px,
  16: 16px,
  15: 15px,
  14: 14px,
  13: 13px,
  12: 12px
);
:root {
  @each $key, $value in $font-size-map {
    --font-size-#{$key}: #{$value};
  }
}

/* Media Query */
$media-query-map: (
  mobile: 375px,
  tablet: 600px,
  desktop: 1024px
);

:root {
  @each $key, $value in $media-query-map {
    --breakpoint-#{$key}: #{$value};
  }
}

/* ===== Layout ===== */
:root {
  --layout-min-width: 320px;
  --layout-header-height: 60px;
  --layout-footer-height: 40px;
  --layout-sidebar-width: 280px;
  --layout-padding: 40px 20px;
}

/* Media Query */
$z-index-map: (
  header: 1000
);

:root {
  @each $key, $value in $z-index-map {
    --z-index-#{$key}: #{$value};
  }
}

/* ===== Color ===== */
:root {
  // Primary Scale
  --color-primary-950: #0e192a;
  --color-primary-900: #162641;
  --color-primary-850: #1d3458;
  --color-primary-800: #25416f;
  --color-primary-750: #2e5088;
  --color-primary-700: #3b69b2;
  --color-primary-650: #5883c7;
  --color-primary-600: #6b91ce;
  --color-primary-550: #779ad2;
  --color-primary-500: #85a4d6;
  --color-primary-450: #92aedb;
  --color-primary-400: #a0b8df;
  --color-primary-350: #aec3e4;
  --color-primary-300: #bbcde9;
  --color-primary-250: #c5d4ec;
  --color-primary-200: #d7e1f2;
  --color-primary-150: #e0e8f5;
  --color-primary-100: #e8eef7;
  --color-primary-50: #f0f4fa;
  --color-primary-10: #f7f9fc;

  // Gray Scale
  --color-gray-950: #0b0d0e;
  --color-gray-930: #121416;
  --color-gray-900: #171a1c;
  --color-gray-850: #22262a;
  --color-gray-800: #2e3338;
  --color-gray-750: #394046;
  --color-gray-700: #454d54;
  --color-gray-650: #505962;
  --color-gray-600: #5c6670;
  --color-gray-550: #67737e;
  --color-gray-500: #737f8c;
  --color-gray-450: #818c98;
  --color-gray-400: #8f99a3;
  --color-gray-350: #9da6af;
  --color-gray-300: #abb3ba;
  --color-gray-250: #b9bfc6;
  --color-gray-200: #c7ccd1;
  --color-gray-150: #d5d9dd;
  --color-gray-100: #e3e5e8;
  --color-gray-50: #e9ebed;
  --color-gray-30: #edf0f3;
  --color-gray-10: #f3f5f7;
  --color-gray-5: #f9fafb;

  // Status Scale
  --color-red-800: #a80d20;
  --color-red-700: #c2172b;
  --color-red-600: #db2339;
  --color-red-500: #f53148;
  --color-red-400: #ff6678;
  --color-red-300: #ff94a0;
  --color-red-200: #ffbdc4;
  --color-red-100: #ffe0e4;
  --color-red-10: #fff0f1;

  --color-green-800: #00734a;
  --color-green-700: #008c5a;
  --color-green-600: #00a66c;
  --color-green-500: #05be7c;
  --color-green-400: #25cc92;
  --color-green-300: #67d6ae;
  --color-green-200: #ace8d3;
  --color-green-100: #dbf5ec;
  --color-green-10: #ebfaf5;

  --color-orange-800: #cc6600;
  --color-orange-700: #cc6600;
  --color-orange-600: #f37d07;
  --color-orange-500: #ff9933;
  --color-orange-400: #ffa733;
  --color-orange-300: #ffc880;
  --color-orange-200: #ffdeb2;
  --color-orange-100: #ffe8d1;
  --color-orange-10: #fff8f0;

  --color-blue-800: #194cb2;
  --color-blue-700: #255ccc;
  --color-blue-600: #326ee5;
  --color-blue-500: #4281ff;
  --color-blue-400: #6b9dff;
  --color-blue-300: #8fb4ff;
  --color-blue-200: #a8c5ff;
  --color-blue-100: #dbe7ff;
  --color-blue-10: #e8f0ff;

  // Etc Scale
  --color-black: #000000;
  --color-white: #ffffff;
}

/* Border Radius */
:root {
  --radius-full: 100%;
  --radius-xl: 100px;
  --radius-lg: 20px;
  --radius-md: 8px;
  --radius-sm: 4px;
  --radius-xs: 2px;
}

/* Form Height */
:root {
  --form-height-xl: 52px;
  --form-height-lg: 48px;
  --form-height-md: 40px;
  --form-height-sm: 36px;
  --form-height-xs: 32px;
  --form-height-xxs: 28px;
}

/* etc */
:root {
  --transition: all 150ms ease;

  --font-family: 'Noto Sans KR','Pretendard Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  --font-pretendard: 'Pretendard', 'Pretendard Variable', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
