@use "sass:map";

@mixin before($w: null, $h: null, $content:'') {
  & {
    position: relative;
  }
  &::before {
    & {
      display: inline-block;
      position: absolute;
      content: $content;
      width: $w;
      height: $h;
      @content
    }
  }
}
@mixin after($w: null, $h: null, $content:'') {
  & {
    position: relative;
  }
  &::after {
    & {
      display: inline-block;
      position: absolute;
      content: $content;
      width: $w;
      height: $h;
      @content
    }
  }
}